/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', 'Lato', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Lato','sans-serif';
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    max-width: 1280px;
    margin:auto;
    min-height: 90vh;
    padding: 10px;
}